<a href="/speeches/<%=speech.id%>">
  <div class="panel panel-default" style="margin-bottom:5px">
    <div class="panel-body" style="padding-top:10px; padding-left:0px; padding-bottom:10px; padding-right:10px">
      <div class="media">
        <div class="btn-group pull-right" role="group" aria-label="...">
          <% if speech.approved %>
            <i class="fa fa-check" aria-hidden="true"></i>
          <% elsif speech.pending %>
            <i class="fa fa-hourglass" aria-hidden="true"></i>
          <% elsif speech.removed %>
            <i class="fa fa-times" aria-hidden="true"></i>
          <% end %>
        </div>
        <div class="media-body" style="padding-left:10px">
          <h4 style="margin-top:0px; margin-bottom:0px; font-size:75%"><%= speech.first_name %> <%= speech.last_name %> at <%= speech.venue %></h4>
          <h5 style="margin-top:0px; margin-bottom:0px; font-size:75%"><%= speech.speech_date %> in <%= speech.city %>, <%= speech.state %></h5>
          <h6 style="margin-top:0px; margin-bottom:0px; font-size:75%">Contributed by <%= speech.creator.first_name %> <%= speech.creator.last_name %></h6>
        </div>
      </div>
    </div>
  </div>
</a>
