<p id="notice"><%= notice %></p>



<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12" style="margin-left:0px; padding-left:0px; margin-right:0px; padding-right:0px; text-align:center">
        <div class="btn-group pull-right" role="group" aria-label="...">
            <%= link_to "/users/#{@user.id}/edit", class: 'btn btn-default btn-mini', :type => :button, :method => :get do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>
            <button class='btn btn-default btn-mini'><i class="fa fa-ban" aria-hidden="true"></i></button>
        </div>
        <img style="max-width:200px; max-height:200px" src="/assets/default-profile.png" alt="...">
        <h4 style="padding-bottom:0px">
          <%= @user.first_name %> <%= @user.last_name %></p>
        </h4>
        <h6>
          <%= @user.biography %>
        </h6>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h5>Marked <span class="badge"><%= @user.highlights.count %></span></h5>
        <div class="panel panel-default">
          <div class="panel-body pre-scrollable" style="height: 250px;">
            <% @user.highlights.each do |speech| %>
              <%= render partial: 'speech_thumbnail', locals: { speech: speech } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h5>Contributed <span class="badge"><%= @user.speeches.count %></span></h5>
        <div class="panel panel-default">
          <div class="panel-body pre-scrollable" style="height: 250px; padding:5px">
            <% @user.speeches.each do |speech| %>
              <%= render partial: 'speech_thumbnail', locals: { speech: speech } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- user-profile -->


<!-- <div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-lg-12 col-md-12 col-sm-12">

        <p><%= @user.first_name %> <%= @user.last_name %></p>
        <p><%= @user.biography %></p>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <p>Test</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
             <p>Test</p>
           </div>
       </div>
      </div>
    </div>
  </div>
</div> -->












<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @user.organization %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @user.biography %>
</p>

<p>
  <strong>Default color:</strong>
  <%= @user.default_color %>
</p>

<p>
  <strong>Public figure:</strong>
  <%= @user.public_figure %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @user.entity %>
</p>

<p>
  <strong>Moderator:</strong>
  <%= @user.moderator %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
