
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
        <div class="media">
          <a class="pull-left" href="#" style="margin:0; padding:0">
            <img class="media-object" style="max-height:60px;max-width:60px" src="/assets/default-profile.png">
          </a>
          <div class="media-body" style="padding-left:10px">
              <h3 style="margin-top:0px; margin-bottom:0px">John Doe at Monona Terrace on Wed, Sep 4</h3>
              <h5><i class="fa fa-check-circle" aria-hidden="true"></i> Submitted by John Doe</h5>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12" style="margin-left:0px; padding-left:0px; margin-right:0px; padding-right:0px">
        <h4 style="padding-bottom:0px">
          Optional Title for Authorized Users
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 nopadding">
        <p class="nopadding">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12" style="margin-left:0px; padding-left:0px; margin-right:0px; padding-right:0px; margin-top:10px">
        <p class="nopadding">
          <span style="float:left"><a href="#">read more...</a></span>
          <span style="float:right">14 markups</span>
        </p>
      </div>
    </div>
  </div>
</div><!-- show-speech-form -->


<div class="panel panel-default">
  <div class="panel-body">
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left:0px;">
            <div class="form-group">
              <label for="exampleInputEmail1">Search Speakers</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label>Speaker First Name</label>
              <input class="form-control" placeholder="speaker first name...">
            </div>
            <div class="form-group">
              <label>Speaker Last Name</label>
              <input class="form-control" placeholder="speaker last name...">
            </div>
          </div><!-- left-column -->
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-right:0px; padding-left:0px;">
            <div class="form-group">
              <label>Speech Date</label>
              <input data-provide='datepicker' class="form-control" placeholder="enter date...">
            </div>
            <div class="form-group">
              <label>Venue Name</label>
              <input class="form-control" placeholder="venue name...">
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8" style="padding-left:0px; padding-right:0px">
                  <label>Venue City</label>
                  <input class="form-control" placeholder="enter city...">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4" style="padding-right:0px">
                  <label>Venue State</label>
                  <div class="btn-group" style="width:100%">
                    <button type="button" class="btn btn-default dropdown-toggle" style="width:100%; font-color:#ccc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      select <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li>State 1</li>
                      <li>State 2</li>
                      <li>State 3</li>
                      <li>State 4</li>
                      <li>State 5...</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- right-column -->
          <div class="form-group">
            <label>Title</label>
            <input class="form-control" placeholder="title...">
          </div>
          <div class="form-group">
            <label for="exampleTextarea">Content</label>
            <textarea class="form-control" placeholder="content..." rows="8"></textarea>
          </div>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div> <!-- create-speech-form -->




<%= form_for(speech) do |f| %>
  <% if speech.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(speech.errors.count, "error") %> prohibited this speech from being saved:</h2>

      <ul>
      <% speech.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :venue %>
    <%= f.text_field :venue %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :public_figure_id %>
    <%= f.number_field :public_figure_id %>
  </div>

  <div class="field">
    <%= f.label :creator_id %>
    <%= f.number_field :creator_id %>
  </div>

  <div class="field">
    <%= f.label :approved %>
    <%= f.check_box :approved %>
  </div>

  <div class="field">
    <%= f.label :tags %>
    <%= f.text_area :tags %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
