

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
        <div class="media">
          <a class="pull-left" href="#" style="margin:0; padding:0">
            <img class="media-object" style="max-height:60px;max-width:60px" src="/assets/default-profile.png">
          </a>
          <div class="btn-group pull-right" role="group" aria-label="...">
              <button class='btn btn-default btn-mini'><i class="fa fa-check" aria-hidden="true"></i></button>
              <%= link_to "/speeches/#{speech.id}/edit", class: 'btn btn-default btn-mini', :type => :button, :method => :get do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end %>
              <%= link_to "/speech/#{speech.id}", class: 'btn btn-default btn-mini', :type => :button, :method => :delete, :data => {:confirm => 'Please confirm that you wish to delete'} do %>
                <i class="fa fa-times" aria-hidden="true"></i>
              <% end %>
              <button class='btn btn-default btn-mini'><i class="fa fa-ban" aria-hidden="true"></i></button>
          </div>
          <div class="media-body" style="padding-left:10px">
              <h4 style="margin-top:0px; margin-bottom:0px"><%= speech.first_name %> <%= speech.last_name %> at <%= speech.venue %></h4>
              <h5 style="margin-top:0px; margin-bottom:0px"><%= speech.speech_date %> in <%= speech.city %>, <%= speech.state %></h5>
              <h6 style="margin-top:0px; margin-bottom:0px">Contributed by <%= link_to "#{speech.creator.first_name} #{speech.creator.last_name}", "/users/#{speech.creator.id}", method: :get %></h6>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12" style="margin-left:0px; padding-left:0px; margin-right:0px; padding-right:0px">
        <h4 style="padding-bottom:0px">
          <%= speech.title %>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 nopadding" id="content-div">
        <p class="nopadding" id="main-record-index">
          <%= speech.content %>
        </p>
      </div>
    </div>
  </div>
</div><!-- show-full -->
