

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
        <div class="media">
          <a class="pull-left" href="#" style="margin:0; padding:0">
            <img class="media-object" style="max-height:60px;max-width:60px" src="/assets/default-profile.png">
          </a>
          <div class="btn-group pull-right" role="group" aria-label="...">
              <button class='btn btn-default btn-mini'><i class="fa fa-check" aria-hidden="true"></i></button>
              <%= link_to "/speeches/#{@speech.id}/edit", class: 'btn btn-default btn-mini', :type => :button, :method => :get do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end %>
              <%= link_to "/speech/#{@speech.id}", class: 'btn btn-default btn-mini', :type => :button, :method => :delete, :data => {:confirm => 'Please confirm that you wish to delete'} do %>
                <i class="fa fa-times" aria-hidden="true"></i>
              <% end %>
              <button class='btn btn-default btn-mini'><i class="fa fa-ban" aria-hidden="true"></i></button>
          </div>
          <div class="media-body" style="padding-left:10px">
              <h4 style="margin-top:0px; margin-bottom:0px"><%= @speech.first_name %> <%= @speech.last_name %> at <%= @speech.venue %></h4>
              <h5 style="margin-top:0px; margin-bottom:0px"><%= @speech.speech_date %> in <%= @speech.city %>, <%= @speech.state %></h5>
              <h6 style="margin-top:0px; margin-bottom:0px">Contributed by <%= link_to "#{speech.creator.first_name} #{speech.creator.last_name}", "/users/#{speech.creator.id}", method: :get %></h6>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12" style="margin-left:0px; padding-left:0px; margin-right:0px; padding-right:0px">
        <h4 style="padding-bottom:0px">
          <%= @speech.title %>
        </h4>
      </div>
    </div>
    <div class="row">
      <div id="content-div" class="col-lg-12 col-md-12 col-sm-12 nopadding">
        <p class="nopadding" id="main-record-index">
          <%= @speech.content %>
        </p>
      </div>
    </div>
  </div>
</div><!-- show-full -->
<script type="text/javascript">



$(document).ready(function() {

  var selectedHighlights = [];

  $('#add-highlights-button').on('click', function(e){
    console.log("clicked add-highlights-button");
    // e.stopPropogation();
    var contentDiv = document.getElementById("content-div");
    record()
  });

  function record(){
    $("#main-record-index").on('mouseup', function(){
      console.log("clicked main record index", this);
      var result = getSelectionCharOffsetsWithin(this);
      selectedHighlights.push([result.start, result.end]);
      alert(selectedHighlights);
    })
  }

  function getSelectionCharOffsetsWithin(element) {
    var start = 0, end = 0;
    var sel, range, priorRange;
    if (typeof window.getSelection != "undefined") {
      range = window.getSelection().getRangeAt(0)
      priorRange = range.cloneRange();
      priorRange.selectNodeContents(element);
      priorRange.setEnd(range.startContainer, range.startOffset);
      start = priorRange.toString().length;
      end = start + range.toString().length;
    } else if (typeof document.selection != "undefined" &&
      (sel = document.selection).type != "Control") {
      range = sel.createRange();
      priorRange = document.body.createTextRange();
      priorRange.moveToElementText(element);
      priorRange.setEndPoint("EndToStart", range);
      start = priorRange.text.length;
      end = start + range.text.length;
    }
    return {
      start: start,
      end: end
    };
  }

  $("#save-highlights-button").on("click", function(){
    var url = window.location.href
    var speechId = url.substring(url.lastIndexOf("/") + 1, url.length);
    $.ajax({
      type: 'POST',
      url: "/highlights",
      data: {data: {snippets: JSON.stringify(selectedHighlights), speech_id: speechId}},
      dataType: "json",
      success: function(){
        alert("success")
      }
    })
    event.preventDefault();
  });

  $("#update-highlights-button").click(function(event){
    var url = window.location.href
    var speechId = url.substring(url.lastIndexOf("/") + 1, url.length);
    $.ajax({
        type: "PATCH",
        url: "/highlights/" + gon.highlight_id,
        dataType: "json",
        data: {data: {snippets: JSON.stringify(selectedHighlights), speech_id: speechId}},
        complete: function(){
          alert("success")
        }
    });
    event.preventDefault();
  });


  $("#delete-highlights-button").click(function(event){
    var url = window.location.href
    var speechId = url.substring(url.lastIndexOf("/") + 1, url.length);
    $.ajax({
        type: 'DELETE',
        url: "/highlights/" + gon.highlight_id,
        data: {data: {speech_id: speechId}},
        complete: function(result) {
          alert("success")
        }
    });
  });

})

</script>
