<p id="notice"><%= notice %></p>

<h1>Speeches</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Speech date</th>
      <th>Created date</th>
      <th>Venue</th>
      <th>City</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Public figure</th>
      <th>Creator</th>
      <th>Approved</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @speeches.each do |speech| %>
      <tr>
        <td><%= speech.title %></td>
        <td><%= speech.content %></td>
        <td><%= speech.speech_date %></td>
        <td><%= speech.created_date %></td>
        <td><%= speech.venue %></td>
        <td><%= speech.city %></td>
        <td><%= speech.first_name %></td>
        <td><%= speech.last_name %></td>
        <td><%= speech.public_figure_id %></td>
        <td><%= speech.creator_id %></td>
        <td><%= speech.approved %></td>
        <td><%= speech.tags %></td>
        <td><%= link_to 'Show', speech %></td>
        <td><%= link_to 'Edit', edit_speech_path(speech) %></td>
        <td><%= link_to 'Destroy', speech, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Speech', new_speech_path %>
