<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @speech.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @speech.content %>
</p>

<p>
  <strong>Speech date:</strong>
  <%= @speech.speech_date %>
</p>

<p>
  <strong>Created date:</strong>
  <%= @speech.created_date %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @speech.venue %>
</p>

<p>
  <strong>City:</strong>
  <%= @speech.city %>
</p>

<p>
  <strong>First name:</strong>
  <%= @speech.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @speech.last_name %>
</p>

<p>
  <strong>Public figure:</strong>
  <%= @speech.public_figure_id %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @speech.creator_id %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @speech.approved %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @speech.tags %>
</p>

<%= link_to 'Edit', edit_speech_path(@speech) %> |
<%= link_to 'Back', speeches_path %>
