<!-- uncomment code for absolute positioning tweek see top comment in css -->
<!-- <div class="absolute-wrapper"></div> -->
<!-- Menu -->
<!-- style="margin-left:-31px; margin-top:16px;" -->
<div class="side-menu" style="left:0; margin-top:16px">

  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="brand-wrapper">
        <!-- Hamburger -->
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- Brand -->
        <!-- <div class="brand-name-wrapper">
            <a class="navbar-brand" href="#">
                Brand
            </a>
        </div> -->

        <!-- Search -->
        <!-- <a data-toggle="collapse" href="#search" class="btn btn-default" id="search-trigger">
            <span class="glyphicon glyphicon-search"></span>
        </a> -->

        <!-- Search body -->
        <div id="search" class="panel-collapse collapse">
          <div class="container">
            <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm">
            <form>
              <div class="form-group row">
                <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control form-control-sm" id="smFormGroupInput" placeholder="you@example.com">
                </div>
              </div>
            </form>
          </div>



          <div class="panel-body">
            <form class="navbar-form" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default "><span class="glyphicon glyphicon-ok"></span></button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Menu -->
    <div class="side-menu-container">
      <ul class="nav navbar-nav" style="width:100%">

        <li><%= link_to "Create Speech", "/speeches/new", method: :get %></li>
        <!-- <li class="active"><a href="#"> Active Link</a></li> -->

        <% if @search_lis %>
          <li class="panel panel-default" id="dropdown">
            <a data-toggle="collapse" href="#dropdown-lvl1">
              Filter <span class="caret"></span>
            </a>
            <!-- Dropdown level 1 -->
            <div id="dropdown-lvl1" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="nav navbar-nav">
                  <li>
                    <div>
                      filter_options
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <!-- <li class="panel panel-default" id="dropdown">
            <a data-toggle="collapse" href="#dropdown-lvl1">
              Sort <span class="caret"></span>
            </a>
            <div id="dropdown-lvl1" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="nav navbar-nav">
                  <li>
                    <div>
                      sort_options
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li> -->
        <% end %>



        <% if @advanced_li %>
        <!-- Dropdown-->
        <li class="panel panel-default" id="dropdown">
          <a data-toggle="collapse" href="#dropdown-lvl1">
            Highlights <span class="caret"></span>
          </a>
          <!-- Dropdown level 1 -->
          <div id="dropdown-lvl1" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="nav navbar-nav">
                <li>
                  <div>
                    advanced_button
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <% end %>

        <% if @markup_li %>
        <!-- Dropdown-->
        <li class="panel panel-default" id="dropdown">
          <a data-toggle="collapse" href="#dropdown-lvl1">
            Highlights <span class="caret"></span>
          </a>

          <!-- Dropdown level 1 -->
          <div id="dropdown-lvl1" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="nav navbar-nav">
                <li>
                  <div class="sidebar-user-quick-access">
                    Quick Access
                    <%= render 'layouts/sidebar_user' %>
                  </div>
                  <div class="sidebar-user-users">
                    Users
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <%= form_tag users_path, method: :get do %>
                          <div class="input-group input-group-sm" style="font-size:14px">
                            <%= text_field_tag :query, params[:query], id: "user-search-input", class: 'form-control', placeholder: 'search users...' %>
                            <span class="input-group-btn">
                              <%= button_tag(type: 'submit', id: 'this-is-a-button', class: 'btn btn-default') do %>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                              <% end %>
                            </span>
                          </div>
                        <% end %>
                      </div>
                    <div>
                    



                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <button id="add-highlights-button" type="button" class="btn btn-default btn-mini btn-block">Add Highlights</button>
                        <button id="save-highlights-button" type="button" class="btn btn-default btn-mini btn-block">Save</button>
                        <button id="delete-highlights-button" type="button" class="btn btn-default btn-mini btn-block">Delete</button>
                        <button id="update-highlights-button" type="button" class="btn btn-default btn-mini btn-block">Update</button>
                      </div>
                    </div>




                  </div>
                </li>

                <!-- Dropdown level 2 -->
                <!-- <li class="panel panel-default" id="dropdown">
                    <a data-toggle="collapse" href="#dropdown-lvl2">
                         Sub Level <span class="caret"></span>
                    </a>
                    <div id="dropdown-lvl2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                            </ul>
                        </div>
                    </div>
                </li> -->
              </ul>
            </div>
          </div>
        </li>
        <% end %>
        <!-- <li><a href="#"> Link </a></li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</div>
