<!DOCTYPE html>
<html>
  <head>
    <title>Highlight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="content/js/jquery.min.js"></script>
    <script src="content/js/bootstrap.min.js"></script>
  </head>

  <body>
    <%= render "/layouts/navbar" %>
    <div class="row">
      <%= render "/layouts/sidebar" %>
      <!-- Main Content -->
      <div class="container-fluid">
          <div class="side-body">
            <br>
            <br>
            <br>
            <br>
            <%= yield %>
          </div>
      </div>
    </div>




  </body>
</html>
